/* Footer component */
footer {
  background-color: #212529;
}
footer ul {
  margin: 0;
  padding: 0;
}

/* End of footer component */
/* Media Queries if needed */
@media (min-width: 992px) {
}
/* End of Media Queries */
