/* You can add global styles to this file, and also import other style files */

/* You can add global styles to this file, and also import other style files */

@import url('./sec-styles/variables.css');

*,
::after,
::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  transition: all 0.3s ease;
}

body {
  padding-block: 90px;
  font-family: system-ui, 'Open Sans', 'Helvetica Neue', sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}
